mixin base(title,path,bodyclass)
	head
		title=title
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		style
			include ./css/pillarsDocs.css
		//- 

	body(class=bodyclass)
		#space
			header#header
				a#logo Pillars.js - make it easy!
				nav#mainmenu
					h2 Main menu
					ul
						li: a(href="/") Home
						li: a(href="/reference/") Documentación
						
						//li: a(href="mailto:hello@pillarsjs.com") Contacto

				nav#social
					h2 Social links
					ul
						li: a.github(href="https://github.com/bifuer/pillars") Github
						li: a.twitter(href="https://twitter.com/PillarsJS") Twitter

			if path
				nav#breadcrumbs
					ul
						each d in path
							li: a(href=d.url)=d.label

			#selectnav
			#main
				block

			#totop
				a(href="#header") Volver arriba

			footer#footer
				.logo Pillars.js - make it easy!
				.legal
					.phrase Pillars.js is a modular and scalable framework for web development in Node.js
					.copyright ©2015 Javier Gallego Martín & Chelo Quilón (Just Married) & individual contributors
					.license MIT license

		//- 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
		//- 'http://fonts.googleapis.com/css?family=Inconsolata:400,700|Source+Sans+Pro:400,400italic,700,700italic'
		style
			include ./css/font-awesome.min.css
		//- 

		style.

			@font-face {
			  font-family: 'Inconsolata';
			  font-style: normal;
			  font-weight: 400;
			  src: local('Inconsolata'), url(http://fonts.gstatic.com/s/inconsolata/v10/BjAYBlHtW3CJxDcjzrnZCIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'), url(http://fonts.gstatic.com/s/inconsolata/v10/BjAYBlHtW3CJxDcjzrnZCLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
			}
			@font-face {
			  font-family: 'Inconsolata';
			  font-style: normal;
			  font-weight: 700;
			  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url(http://fonts.gstatic.com/s/inconsolata/v10/AIed271kqQlcIRSOnQH0yf79_ZuUxCigM2DespTnFaw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/inconsolata/v10/AIed271kqQlcIRSOnQH0yRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
			}
			@font-face {
			  font-family: 'Source Sans Pro';
			  font-style: normal;
			  font-weight: 400;
			  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
			}
			@font-face {
			  font-family: 'Source Sans Pro';
			  font-style: normal;
			  font-weight: 700;
			  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
			}
			@font-face {
			  font-family: 'Source Sans Pro';
			  font-style: italic;
			  font-weight: 400;
			  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM2Sl3jWJ3D9poyJPMfASioc.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM_bce-VcyLJMRR1FC9qWbU8.woff) format('woff');
			}
			@font-face {
			  font-family: 'Source Sans Pro';
			  font-style: italic;
			  font-weight: 700;
			  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6H0cQ2LOPDPk8GfVMt0MqYH3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6PgYMAt3u4NmhhzLLLPJ5qH3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
			}

		style
			include ./css/pillarsForms.css
			include ./js/highlight/styles/monokai_sublime.css
		//- 
		
		script
			include ./js/jquery.min.js
		//- 
		
		script.

			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','/js/analytics.js','ga');
			ga('create', 'UA-64107815-1', 'auto');
			ga('send', 'pageview');

			(function(){
				var mainmenu = $('#mainmenu');
				var swrp = $('<div class="select"></div>');
				var select = $('<select onchange="window.open(this.value, \'_self\');"></select>');
				swrp.append(select);
				$('h2',mainmenu).after(swrp);
				$('a',mainmenu).each(function(i,e){
					var e = $(e);
					var lvl = e.parents('ul').length;
					var href = e.attr('href');
					var selected = window.location.pathname.indexOf(href)===0?' selected="selected" ':'';
					var space = '';
					if(lvl>1){
						for(var i=1;i<lvl;i++){
							space+='-';
						}
						space+='&nbsp;';
					}
					select.append('<option value="'+href+'"'+selected+'>'+space+e.text()+'</option>');
				});
			})();
			(function(){
				var scopelinks = $('#scopelinks');
				var swrp = $('<div class="select"></div>');
				var select = $('<select onchange="window.open(this.value, \'_self\');"></select>');
				swrp.append(select);
				//$('h2',scopelinks).after(swrp);
				$('#selectnav').append(swrp);
				$('a',scopelinks).each(function(i,e){
					var e = $(e);
					var lvl = e.parents('ul').length;
					var href = e.attr('href');
					var selected = (window.location.pathname).indexOf(href)===0?' selected="selected" ':'';
					var space = '';
					if(lvl>1){
						for(var i=1;i<lvl;i++){
							space+='-';
						}
						space+='&nbsp;';
					}
					select.append('<option value="'+href+'"'+selected+'>'+space+e.text()+'</option>');
				});
			})();
			(function(){
				var TOC = $('#TOC');
				var swrp = $('<div class="select"></div>');
				var select = $('<select onchange="window.open(this.value, \'_self\');"></select>');
				var ul = $('<ul></ul>');
				swrp.append(select);
				TOC.append('<h2>Table of contents</h2>');
				//TOC.append(swrp);
				$('#selectnav').append(swrp);
				TOC.append(ul);
				var last = false;
				var count = 0;
				$('#contents h2, #contents h3').each(function(i,e){
					count++;
					var e = $(e);
					var t = e.prop('tagName').toLowerCase();
					var href = '#'+e.attr('id');
					var selected = (window.location.hash).indexOf(href)===0?' selected="selected" ':'';
					var space = '';
					if(t=='h2'){
						last = $('<li></li>');
						last.append('<a href="'+href+'">'+e.html()+'</a>');
						ul.append(last);
					} else {
						if(!last.has( "ul" ).length){
							last.append('<ul></ul>');
						}
						$('ul',last).append('<li><a href="'+href+'">'+e.html()+'</a></li>');
						space = '- ';
					}
					select.append('<option value="'+href+'"'+selected+'>'+space+e.text()+'</option>');
				});
				if(!count){
					TOC.hide();
				}
			})();
			(function(){
				var w = $(window);
				var tt = $("#totop");
				w.on('scroll',function(event){
					if(w.scrollTop()>50){
						tt.fadeIn();
					} else {
						tt.fadeOut();
					}
				});
			})();


mixin layout(title,path,bodyclass)
	+base(title,path,bodyclass)
		#contents
			block

mixin reference-layout(title,path,bodyclass)
	+base(title,path,bodyclass)
		#leftbar.sidebar
			nav#scopelinks
				h2 Reference index
				ul
					li: a(href="/reference/introduccion.jade") Introducción
					li
						a(href="/reference/entorno.jade") Funcionamiento
						ul
							li: a(href="/reference/entorno.jade") Entorno
							li: a(href="/reference/enrutado.jade") Enrutado
							li: a(href="/reference/solicitud-y-respuesta.jade") Solicitud y respuesta
							li: a(href="/reference/funcionamiento-plugins.jade") Plugins
							//li: a(href="#") Servicios

					li
						a(href="/reference/project.jade") Referencia
						ul
							li: a(href="/reference/project.jade") project
							li: a(href="/reference/clase-route.jade") Clase Route
							li: a(href="/reference/gangway.jade") Objeto Gangway
							li: a(href="/reference/clase-plugin.jade") Clase Plugin
							li: a(href="/reference/http-service.jade") Clase HttpService
					li
						a(href="https://github.com/bifuer/JSON.decycled") Librerías
						ul
							li: a(target="_blank" href="https://github.com/bifuer/JSON.decycled") JSON.decycled
							li: a(target="_blank" href="https://github.com/bifuer/String.format") String.format
							li: a(target="_blank" href="https://github.com/bifuer/Date.format") Date.format 
							li: a(target="_blank" href="https://github.com/bifuer/procedure") procedure
							li: a(target="_blank" href="https://github.com/bifuer/scheduled") scheduled
							li: a(target="_blank" href="https://github.com/bifuer/textualization") textualization
							li: a(target="_blank" href="https://github.com/bifuer/crier") crier
							li: a(target="_blank" href="https://github.com/bifuer/ObjectArray") ObjectArray
							li: a(target="_blank" href="https://github.com/bifuer/templated") templated
							li: a(target="_blank" href="https://github.com/bifuer/jailer") jailer
							//li: a(target="_blank" href="/reference/modelator.jade") Modelator					

		#contents
			block

		#rightbar.sidebar
			nav#TOC
